*.csv
*.db
*.log
*.wksp
*.xlsx
*.zip
*pylint.d
__pycache__
.idea/*
# Ignore these files because they contain sensitive data
config.json
config.yml
# Ignore the daily Beanconqueror logs JSON file
Beanconqueror.json
